#main {
  padding-bottom: 70px;
  padding-top: 7%;
}

/* PALETTE
--blood-red: #6e0000ff;
--white: #ffffffff;
--gray: #817f82ff;
--prussian-blue: #172a3aff;
--rich-black: #0e131fff;
*/


/*//////////////////////////////////////////////////////////////////
[NAVBAR]*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navMenu {
  position: absolute;
  top: 5%;
  left: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #777777;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #990000;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #990000;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(210px);
  transform: translateX(185px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(370px);
  transform: translateX(335px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(600px);
  transform: translateX(600px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}




/*//////////////////////////////////////////////////////////////////
[button]*/

.btn.btn-primary{
  background:#990000;
  border: none;
}

.btn.btn-primary:hover{
  background:#6e0000;
}


.brand{
  font-family: 'Roboto', sans-serif;;
  font-size: 50px;
  color: #6e0000;
  padding-left: 5%;
  text-decoration: none;
  font-weight: 600;
}


.title{
  font-family: 'Roboto', sans-serif;
  color: #6e0000;
  padding-left: 5%;
  text-decoration: none;
}

.th {
  background-color: #6e0000;
  color: white;
}




.hometitle1{
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 37em;
  padding-top: 17%;
}

.primary{
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: #6e0000;
  padding-left: 5%;
  font-weight: 900;
  text-decoration: none;
}


.hometitle2{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 34em;
  padding-top: 0%;
}

.secondary{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #6e0000;
  padding-left: 5%;
  font-weight: 400;
  text-decoration: none;
}

.table.table-striped{
  padding-left: 2%;
}

.form-control{
  border-radius: 1rem;
}